<!doctype html>
<html lang=""en>
    <head>
        <meta charset="utf-8">
        <meta name=""viewport" content="width=device-width, initial-scale=1">
        <title>Inventory App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    </head>
    <style>
        .scrollable {
            height: 100%;
            overflow:scroll;
        }
    </style>
    <body>
<div class="container-fluid min-vh-100 pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-fill">

        <!-- Side bar -->
        <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
                </a>
            </li>
            </ul>
            <hr>
        </aside>
       
        <!-- content -->
        <main class="col overflow-auto min-vh-100">
            <div class="bg-light min-vh-100 rounded-3 p-3">

                <a href="/new" class="btn btn-primary">Add item</a>
                <input type="file" id="csvFileInput" accept=".csv">
                <button id="readCVSButton" onclick="uploadCSV()">Upload</button>

                <div class="scrollable">
                <table class="table table-hover">
                    <thead>
                        <td>Name</td>
                        <td>Quantity</td>
                        <td>Minimum Level</td>
                        <td>Price</td>
                    </thead>
                    <% for(var i=0; i<items.length; i++) { %>
                    <tr onclick="gotoUpdateItem(<%= i %>)">
                        <td ><%= items[i].name %></td>
                        <td ><%= items[i].quantity %></td>
                        <td ><%= items[i].minimumLevel %></td>
                        <td ><%= items[i].price %></td>
                    </tr>
                    <% } %>
                </table>
                </div>

            </div>
        </main>
    </div>
</div>

         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
    <script>
        function gotoUpdateItem(itemIndex) { 
            window.location.href = `/edit/${itemIndex}`;
        }

        async function readFileAsText(file) 
        {
            return new Promise((resolve, reject) => 
            {
                const reader = new FileReader();
                reader.onload = (event) => {
                    resolve(event.target.result);
                };

                reader.onerror = (event) => {
                    console.log("error");
                    reject(event.target.result);
                }

                reader.readAsText(file);
            })
        }

        async function uploadCSV()
        {
            const csvFileInput = document.getElementById('csvFileInput');
            const file = csvFileInput.files[0];

            if (!file) { return; }

            try {
                const fileData = await readFileAsText(file);

                const request = new Request("/uploadCSV", {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ 
                        csvData: fileData
                    }),
                })

                const response = await fetch(request);
            } catch (error) {
                console.log("error reading file: ", error);
            }
        }
    </script>
</html>